body {
  background-color: white;
}
.scoreboardTable {
  padding: 0;
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  color: black;}
.scoreboardTableHeaderRow {
  color: darkblue;
  font-weight: bold;
  height: 50px;}